.display-menu { 

	.container { 
		display                   : flex;
		flex-flow                 : row wrap;
		justify-content           : space-around;

		.recepy-card { 
			flex                  : 1 30%;
			max-width             : 25%;
		}

		.store-card { 
			flex                  : 1 30%;
			max-width             : 25%;
			min-width             : 220px;
		}

		.cart-card { 
			flex                  : 1 30%;
			max-width             : 25%;
			min-width             : 292.5px;
			margin                : 0px 5%;
		}

		.menu-buttons {
			flex                  : 1 100%;
			padding               : 10px 0px;
			order                 : 5;

			.pointer { 
				border-radius     : 8px;
				padding           : 10px 0px;
				min-width         : 360px;
				max-width         : 80%;
				margin            : 0px auto 10px;

				&:last-child {
					margin-bottom : 0px;
				}

			}

			.clean_cart { 

				&:after {
					transform     : translate(10px, -3px);
					display       : inline-block;
					content       : "🗑️";
				}

			}

			.buy_cart {
				&:after {
					transform     : translate(10px, -3px);
					display       : inline-block;
					content       : "💸";
				}
			}

		}

		.menu-card {
			.title {
				font-size         : 15px;
				text-align        : center;
				padding-bottom    : 20px;
			}

		}

	}

	@media($tablet) {
		.container {

			.recepy-card,.store-card,.cart-card  {
				flex              : 1 100%;
			}
			.store-card { 
				order             : 2;
			}
			.cart-card { 
				order             : 3;
			}
			.start { 
				order             : 4;
			}

		}
	}

}