.display-start { 

	.text-input > * {
		margin: 20px 0px;
	}

	.text-input { 

		.name { 
			margin: 0px;
		}

		.start-game,.label,.name,.begin { 
			width      : 100%;
			display    : block;
			text-align : center;
		}

		.name { 
			background  : $cream;
		}

		.begin { 
			font-size   : 20px;
			line-height : 20px;
			padding     : 15px 0px;
		}

	}


}