.hide {
	display         : none;
}

.pointer {
	background      : black;
	color:white;
	cursor          : pointer;
	border-radius   : 5px;
	border          : 1px solid transparent;
	min-width       : $margin-base;
	text-align      : center;
	transition      : $hover-transition;

	&:hover{
		background  : white;
		border      : 1px solid black;
		color       : black;
		transition  : $hover-transition;
	}
}

#app {
	width           : 100%;
	min-height      : 100vh;
	display         : flex;
	flex-direction  : column;
	justify-content : space-between;
	align-items     : center;
	background      : $background-green;
	font-family     : $font-primary;
}