html {
  box-sizing   : border-box;
}

h1,h2,h3,h4,h5 {
	margin     : 0px;
	padding    : 0px;
}
* {
  &,
  &::after,
  &::before {
    box-sizing : inherit;
  }
}

::selection {
    background : #000;
    color      : green;
}

