.app-header { 

	.navbar { 
		position                : fixed;
		width                   : 100%;
		display                 : flex;
		justify-content         : space-between;
		align-items             : center;
		background              : $cream;
		padding                 : 10px 15px;
		font-size               : 10px;

		.navbar-item { 
			display             : flex;
			justify-content     : flex-start;
			flex-wrap           : wrap;
			flex                : auto;

			#username {
				margin-left     :  10px;
			}

			.head-element { 
				color           : $semi-black;

				.spacer {
					font-style  : italic;
					margin      : 0px 10px;
					font-weight : 900;
				}
				.fa { 
					font-weight : 900;
				}

				.label { 

				}
				.strong,.limit {
					font-weight : 900;
				}

			}

			.title {
				margin-left     : 0px;
			}

		}

		.stats {
			justify-content     : flex-end;
		}
	}

	.startup {
		align-items             : center;
		justify-content         : center;
	}

	@media ("max-width          : 1034px") {

		.navbar {
			align-items         : center;
			flex-direction      : column;

			.navbar-item {

				.head-element {
					padding     : 10px 0px;
				}

			}

			.stats {
				justify-content : center;
			}

		}

		.startup {
			align-items         : center;
		}

	}

}