.cart-card { 
	.title { 
		padding-bottom            : 0px;
		.cart_total_title { 

		}

	}

	.titles { 
		display                   : flex;

		.cart-list-title { 
			flex                  : 1 33%;
			text-align            : center;
		}

	}

	.cart-list { 
		display                   : flex;
		min-height                : 255px;
		padding                   : 10px;
		background                : $cream;
		border                    : 3px solid $semi-black;
		border-radius             : 8px;

		.cart-item-list { 
			display               : flex;
			flex-direction        : column;
			flex                  : 1 33%;

			span {
				border-bottom : 1px solid gray;

				&:last-child{
					border-bottom : none;
				}

			}

		}

		.cart-item-list > * {
			background            : $cream;
			margin                : 2px 0px;
			text-align            : center;
		}

	}

	.totals { 
		text-align                : right;
		margin                    : 10px 60px;
	}
}