.cart-card { 
	.title { 

		.cart_total_title { 

		}
	}

	.titles { 
		display            : flex;

		.cart-list-title { 
			flex           : 1 33%;
		}
	}

	.cart-list { 
		display            : flex;
		min-height         : 180px;
		background         : $cream;
		.cart-item-list { 
			display        : flex;
			flex-direction : column;
			flex           : 1 33%;
		}
	}

	.totals { 

		.cart_total { 

		}

		.digit { 

		}

		.pointer { 

		}
	}
}