.store-card { 

	.title { 
		padding-top                 : 0px;
	}

	.menu-container { 
		display                     : flex;
		justify-content             : space-around;
		min-height                  : 150px;

		.product-card { 
			display                 : flex;
			flex-direction          : column;
			justify-content         : space-around;

			.size-box { 
				span {
					font-family     : $font-secondary;
					font-size       : 10px;
				}
				&:nth-child(1) {
					.fa {
						font-size   : 12px;
					}
				}

				&:nth-child(2) {
					.fa {
						font-size   : 18px;
					}
				}

				&:nth-child(3) {
					.fa {
						font-size   : 22px;
					}
				}
			}

			.size-box { 
				text-align          : center;
				margin              : 5px 0px;

				.fa {
					width           : 50px;
					height          : 50px;
					display         : flex;
					justify-content : center;
					align-items     : center;
					margin          : 0px;
					border-radius   : 50%;
				}

				.pointer { 

				}

				span { 

				}

				.size-qty { 

				}

				.product-price { 

				}
			}
		}
	}
}