/*
|----------------------------------------------------------------
| Description
|----------------------------------------------------------------
|
| This file contains descriptive variables, they're useful to keep
| Consistency between all the elements and to aid in the process
| Of designing new interfaces.
|
*/
/*
|----------------------------------------------------------------
| Sass Variables
|----------------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap");
/*
|----------------------------------------------------------------
| Colours
|----------------------------------------------------------------
*/
/*
|----------------------------------------------------------------
| Colours Variables
|----------------------------------------------------------------
*/
/*
|----------------------------------------------------------------
| Media Queries
|----------------------------------------------------------------
*/
html {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

*, *::after, *::before {
  box-sizing: inherit;
}

::selection {
  background: #000;
  color: green;
}

.hide {
  display: none !important;
}

.pointer {
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  min-width: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.pointer:hover {
  background: white;
  border: 1px solid black;
  color: black;
  transition: 0.2s ease-in-out;
}

.container {
  max-width: 1170px;
  margin: auto;
}
@media (max-width : 1170px) {
  .container {
    padding: 0px 20px;
  }
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #5ba75a;
  font-family: "Josefin Slab", serif;
}

.display-start .text-input > * {
  margin: 20px 0px;
}
.display-start .text-input .name {
  margin: 0px;
}
.display-start .text-input .start-game, .display-start .text-input .label, .display-start .text-input .name, .display-start .text-input .begin {
  width: 100%;
  display: block;
  text-align: center;
}
.display-start .text-input .name {
  background: #efebe8;
}
.display-start .text-input .begin {
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0px;
}

.display-menu .container {
  display: flex;
  flex-flow: row wrap;
}
.display-menu .container .recepy-card {
  flex: 1 70%;
}
.display-menu .container .store-card {
  flex: 1 70%;
  order: 3;
}
.display-menu .container .cart-card {
  flex: 1 30%;
  order: 2;
}
.display-menu .container .start {
  flex: 1 100%;
  order: 4;
}
.display-menu .container .menu-card .title {
  text-align: center;
  padding: 20px 0px;
}
@media (max-width : 768px) {
  .display-menu .container .recepy-card, .display-menu .container .store-card, .display-menu .container .cart-card {
    flex: 1 100%;
  }
  .display-menu .container .store-card {
    order: 2;
  }
  .display-menu .container .cart-card {
    order: 3;
  }
  .display-menu .container .start {
    order: 4;
  }
}

.app-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efebe8;
  padding: 10px 15px;
}
.app-header .navbar .navbar-item {
  display: flex;
  justify-content: space-between;
}
.app-header .navbar .navbar-item .head-element {
  margin-left: 15px;
  color: #292929;
}
.app-header .navbar .navbar-item .title {
  margin-left: 0px;
}
.app-header .startup {
  align-items: center;
  justify-content: center;
}
@media (max-width : 820px) {
  .app-header .navbar {
    align-items: stretch;
    flex-direction: column;
  }
  .app-header .navbar .navbar-item {
    padding: 10px 0px;
  }
  .app-header .startup {
    align-items: center;
  }
}

.recepy-card .title {
  text-align: center;
}
.recepy-card .menu-container {
  display: flex;
  justify-content: space-around;
  height: 70%;
  align-items: center;
}
.recepy-card .menu-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 30%;
}
.recepy-card .menu-container .box .fa {
  height: 30px;
  width: 30px;
  font-size: 30px;
  text-align: center;
}
.recepy-card .menu-container .box .level {
  display: flex;
  margin: 10px 0px;
}
.recepy-card .menu-container .box .level .qty {
  background: #efebe8;
  width: 25px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  margin: 0px 10px;
}
@media (max-width : 768px) {
  .recepy-card .menu-container {
    height: inherit;
  }
}

.store-card .menu-container {
  display: flex;
  justify-content: space-around;
  min-height: 150px;
}
.store-card .menu-container .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.store-card .menu-container .product-card .size-box {
  text-align: center;
  margin: 5px 0px;
}
.store-card .menu-container .product-card .size-box .fa {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.cart-card .titles {
  display: flex;
}
.cart-card .titles .cart-list-title {
  flex: 1 33%;
}
.cart-card .cart-list {
  display: flex;
  min-height: 180px;
  background: #efebe8;
}
.cart-card .cart-list .cart-item-list {
  display: flex;
  flex-direction: column;
  flex: 1 33%;
}
.app-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
