@charset "UTF-8";
/*
|----------------------------------------------------------------
| Description
|----------------------------------------------------------------
|
| This file contains descriptive variables, they're useful to keep
| Consistency between all the elements and to aid in the process
| Of designing new interfaces.
|
*/
/*
|----------------------------------------------------------------
| Sass Variables
|----------------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/*
|----------------------------------------------------------------
| Colours
|----------------------------------------------------------------
*/
/*
|----------------------------------------------------------------
| Colours Variables
|----------------------------------------------------------------
*/
/*
|----------------------------------------------------------------
| Media Queries
|----------------------------------------------------------------
*/
html {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

*, *::after, *::before {
  box-sizing: inherit;
}

::selection {
  background: none;
  color: none;
}

.hide {
  display: none !important;
}

.pointer {
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  min-width: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08), 0 10px 6px rgba(0, 0, 0, 0.032), inset 0 2px 3px rgba(0, 0, 0, 0.08), inset 0 10px 6px rgba(0, 0, 0, 0.032);
}
.pointer:hover {
  background: white;
  border: 1px solid black;
  color: black;
  transition: 0.2s ease-in-out;
}

.container {
  max-width: 1170px;
  margin: auto;
}
@media (max-width : 1250px) {
  .container {
    padding: 105px 0px 40px;
  }
}
@media (max-width : 945px) {
  .container {
    padding: 150px 0px 40px;
  }
}
@media (max-width : 530px) {
  .container {
    padding: 190px 0px 40px;
  }
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/grass_template2.jpg);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  position: relative;
}

textarea, a {
  cursor: pointer;
}

#app, label {
  cursor: -webkit-grab;
  cursor: grab;
}

.display-start .text-input > * {
  margin: 20px 0px;
}
.display-start .text-input {
  width: 400px;
  margin: 0px auto;
}
.display-start .text-input .start-game, .display-start .text-input .label, .display-start .text-input .name, .display-start .text-input .begin {
  width: 110%;
  display: block;
  text-align: center;
  margin-left: -5%;
}
.display-start .text-input .name {
  background: #efebe8;
  font-size: 40px;
  line-height: 40px;
  height: 47px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  overflow: hidden;
  text-transform: uppercase;
}
.display-start .text-input .begin {
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0px;
}

.display-menu .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.display-menu .container .recepy-card {
  flex: 1 30%;
  max-width: 25%;
}
.display-menu .container .store-card {
  flex: 1 30%;
  max-width: 25%;
  min-width: 220px;
}
.display-menu .container .cart-card {
  flex: 1 30%;
  max-width: 25%;
  min-width: 292.5px;
  margin: 0px 5%;
}
.display-menu .container .menu-buttons {
  flex: 1 100%;
  padding: 10px 0px;
  order: 5;
}
.display-menu .container .menu-buttons .pointer {
  border-radius: 8px;
  padding: 10px 0px;
  min-width: 360px;
  max-width: 80%;
  margin: 0px auto 10px;
}
.display-menu .container .menu-buttons .pointer:last-child {
  margin-bottom: 0px;
}
.display-menu .container .menu-buttons .clean_cart:after {
  transform: translate(10px, -3px);
  display: inline-block;
  content: "🗑️";
}
.display-menu .container .menu-buttons .buy_cart:after {
  transform: translate(10px, -3px);
  display: inline-block;
  content: "💸";
}
.display-menu .container .menu-card .title {
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}
@media (max-width : 768px) {
  .display-menu .container .recepy-card, .display-menu .container .store-card, .display-menu .container .cart-card {
    flex: 1 100%;
  }
  .display-menu .container .store-card {
    order: 2;
  }
  .display-menu .container .cart-card {
    order: 3;
  }
  .display-menu .container .start {
    order: 4;
  }
}

.note-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-wrapper .note {
  height: 300px;
  width: 250px;
  background: url(../images/Note.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-wrapper .note .fa {
  position: relative;
  bottom: 115px;
  left: 115px;
}
.note-wrapper .note .note-message {
  transform: translateX(-28px);
  max-width: 140px;
  max-height: 190px;
  text-align: center;
}

.app-header .navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efebe8;
  padding: 10px 15px;
  font-size: 10px;
}
.app-header .navbar .navbar-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: auto;
}
.app-header .navbar .navbar-item #username {
  margin-left: 10px;
}
.app-header .navbar .navbar-item .head-element {
  color: #292929;
}
.app-header .navbar .navbar-item .head-element .spacer {
  font-style: italic;
  margin: 0px 10px;
  font-weight: 900;
}
.app-header .navbar .navbar-item .head-element .fa {
  font-weight: 900;
}
.app-header .navbar .navbar-item .head-element .strong, .app-header .navbar .navbar-item .head-element .limit {
  font-weight: 900;
}
.app-header .navbar .navbar-item .title {
  margin-left: 0px;
}
.app-header .navbar .stats {
  justify-content: flex-end;
}
.app-header .startup {
  align-items: center;
  justify-content: center;
}
@media (max-width : 1235px) {
  .app-header .navbar {
    align-items: center;
    flex-direction: column;
  }
  .app-header .navbar .navbar-item .head-element {
    padding: 10px 0px;
  }
  .app-header .navbar .stats {
    justify-content: center;
  }
  .app-header .startup {
    align-items: center;
  }
}

.recepy-card .title {
  text-align: center;
}
.recepy-card .menu-container {
  display: flex;
  flex-flow: row wrap;
}
.recepy-card .menu-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 30%;
  margin: 0px 20px;
}
.recepy-card .menu-container .box .fa {
  height: 100%;
  width: 100%;
  font-size: 44px;
  text-align: center;
}
.recepy-card .menu-container .box .level {
  display: flex;
  align-items: center;
  margin: 0px 0px 15px;
}
.recepy-card .menu-container .box .level .pointer {
  font-size: 35px;
  width: 37px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
}
.recepy-card .menu-container .box .level .qty {
  background: #efebe8;
  width: 50px;
  height: 25px;
  margin: 0px 20px;
  border-radius: 46%;
  text-align: center;
  line-height: 29px;
  font-size: 10px;
}
@media (max-width : 768px) {
  .recepy-card .menu-container {
    height: inherit;
  }
  .recepy-card .menu-container .box {
    margin: 0px 5px;
  }
  .recepy-card .menu-container .box .level {
    margin: 15px 0px;
  }
  .recepy-card .menu-container .box .level .qty {
    margin: 0px 5px;
  }
}
@media (max-width : 470px) {
  .recepy-card .menu-container {
    flex-direction: column;
  }
}

.store-card .title {
  padding-top: 0px;
}
.store-card .menu-container {
  display: flex;
  justify-content: space-around;
  min-height: 150px;
}
.store-card .menu-container .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.store-card .menu-container .product-card .size-box span {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}
.store-card .menu-container .product-card .size-box:nth-child(1) .fa {
  font-size: 12px;
}
.store-card .menu-container .product-card .size-box:nth-child(2) .fa {
  font-size: 18px;
}
.store-card .menu-container .product-card .size-box:nth-child(3) .fa {
  font-size: 22px;
}
.store-card .menu-container .product-card .size-box {
  text-align: center;
  margin: 5px 0px;
}
.store-card .menu-container .product-card .size-box .fa {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 50%;
}
.cart-card .title {
  padding-bottom: 0px;
}
.cart-card .titles {
  display: flex;
}
.cart-card .titles .cart-list-title {
  flex: 1 33%;
  text-align: center;
}
.cart-card .cart-list {
  display: flex;
  min-height: 255px;
  padding: 10px;
  background: #efebe8;
  border: 3px solid #292929;
  border-radius: 8px;
}
.cart-card .cart-list .cart-item-list {
  display: flex;
  flex-direction: column;
  flex: 1 33%;
}
.cart-card .cart-list .cart-item-list span {
  border-bottom: 1px solid gray;
}
.cart-card .cart-list .cart-item-list span:last-child {
  border-bottom: none;
}
.cart-card .cart-list .cart-item-list > * {
  background: #efebe8;
  margin: 2px 0px;
  text-align: center;
}
.cart-card .totals {
  text-align: right;
  margin: 10px 60px;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
